<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERÍA</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/lightbox.css">
</head>
<body>
    <header> <!--CABECERA--> 
        <h1>Materia Creativa</h1>
        <nav class="nav-links">
            
           
        <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="portfolio.html" class="nav-links active">GALERÍA</a></li>
                <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            
        </ul>
        </nav>
    </header>
    <main>
        
        <div class="texto-galeria">
            <h2 class="titulo-galeria">Galería de Ilustraciones</h2> 
                <p>
                    Explora nuestra colección de ilustraciones y obras de arte. Aquí encontrarás una variedad de estilos y técnicas, desde ilustraciones digitales hasta pinturas tradicionales. Cada pieza es única y refleja la creatividad y el talento de nuestros artistas.
                    En esta página encontrarás una selección de productos únicos y hechos con creatividad: ilustraciones, pinturas y más. Todo lo que ves aquí está disponible para la venta. 
                </p> 
                <p> ¡Apoya el arte independiente y llévate una pieza especial a casa!</p>
        </div>
        
    
      
  

        <div class="imagenes">

            <a href="../imagenes/ilustraciones/ilustracion-infantil.jpg"  data-lightbox="galeria" data-title="Ilustración infantil"> <img src="../imagenes/ilustraciones/ilustracion-infantil.jpg" alt="Ilustración infantil"></a>

            <a href="../imagenes/ilustraciones/ilustracion-abstracta.jpg"  data-lightbox="galeria" data-title="Ilustración abstracta"> <img src="../imagenes/ilustraciones/ilustracion-abstracta.jpg" alt="Ilustración abstracta"></a>

            <a href="../imagenes/ilustraciones/ilustracion-digital.jpg" data-lightbox="galeria" data-title="Ilustración digital"> <img src="../imagenes/ilustraciones/ilustracion-digital.jpg" alt="Ilustración digital"></a>
            
            <a href="../imagenes/ilustraciones/ilustracion-moda.jpg"  data-lightbox="galeria" data-title="Ilustración moda"> <img src="../imagenes/ilustraciones/ilustracion-moda.jpg" alt="Ilustración moda"></a>

            <a href="../imagenes/ilustraciones/ilustracion-naturaleza.jpg"  data-lightbox="galeria" data-title="Ilustración naturaleza"> <img src="../imagenes/ilustraciones/ilustracion-naturaleza.jpg" alt="Ilustración naturaleza"></a>

            <a href="../imagenes/ilustraciones/ilustracion-realista.jpg"  data-lightbox="galeria" data-title="Ilustración realista"> <img src="../imagenes/ilustraciones/ilustracion-realista.jpg" alt="Ilustración realista"></a>
    
    
        </div>

     

    </main>

    <script src="../js/lightbox-plus-jquery.js"></script>

    <footer>
        <p>Todos los derechos reservados</p>
            <div class="redes-sociales">
                <a href="https://www.instagram.com/"><img src="../imagenes/logos_redes_footer/logo-redes-insta.png" alt="instagram" height="100" width="100"></a>
                <a href="https://www.facebook.com/"><img src="../imagenes/logos_redes_footer/logo-redes-facebook.png" alt="facebook" height="100" width="100"></a>
                <a href="https://www.youtube.com/"><img src="../imagenes/logos_redes_footer/logo-redes-youtube.png" alt="youtube" height="100" width="100"></a>
            </div>
        <p>Calle Av. de la República Argentina, s/n , Sevilla, España</p>
    </footer>
    
</body>
</html>